// importandos sass owl-carousel
@import "core";
@import "animate";
@import "autoheight";
@import "lazyload";
@import "video";
@import "theme.default";
@import "theme.green";
@import "menu-mobile";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1em;
  font-family: "Ubuntu", sans-serif;
  figure {
    margin: 0;
  }
}

a {
  text-decoration: none !important;
}

.ds_none {
  display: none !important;
}

.main_header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("images/imagem-menu-opacity.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  @media only screen and (max-width: 480px) {
    min-height: 80vh;
  }
}


/*  HOME  */

.main_cta {
  width: 100%;
  position: relative;
  top: 120px;
  @media only screen and (max-width: 992px) {
    top: 220px;
  }
  .main_cta_content {
    letter-spacing: 5px;
    img {
      width: 21px;
      margin: 0 2px 2px 0;
    }
    h1 {
      font-size: 3.5em;
      color: #fff;
      text-transform: uppercase;
    }

    h2 {
      font-size: 3.5em;
      color: #ff6600;
      margin-bottom: 13px;
      text-transform: uppercase;
    }
    @media only screen and (max-width: 480px) {
      h1 {
        font-size: 2.5em;
      }
      h2 {
        font-size: 2.5em;
      }
    }
  }
  .btn {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    background: transparent;
    padding: 8px 8px;
    border: 2px solid #fff;

    &:hover {
      color: #a8804b;
      border: 2px solid #a8804b;
    }
    @media only screen and (max-width: 480px) {
      font-size: 0.7em;
    }
  }
}

/* PRIMEIRA SESSÃO - SORVETES  */

.section-1-ice {
  width: 100%;

  article {
    position: relative;
    z-index: 9999;
    header {
      text-align: center;
      padding: 25px;
      padding-bottom: 8px;
      h1 {
        margin-bottom: 15px;
        font-size: 2.2em;
        color: black;
        letter-spacing: 10px;
        text-transform: uppercase;
      }
      p {
        color: black;
        margin-bottom: 15px;
        letter-spacing: 10px;
        font-size: 1.1em;
        text-transform: uppercase;
      }
    }
    p {
      color: #a8804b;
      line-height: 30px;
      text-align: center;
    }
  }
  figure {
    margin-top: -100px;
    img {
      width: 100%;
      margin-bottom: 20px;
    }
    @media only screen and (max-width: 992px) {
      margin-top: -75px;
    }
    @media only screen and (max-width: 767px) {
      margin-top: -50px;
    }
  }
}

/* SEGUNDA SESSÃO - MASSA  */

.section-2 {
  width: 100%;
  background-image: linear-gradient(
      rgb(207 207 207 / 40%),
      rgb(191 191 191 / 40%)
    ),
    url(images/massa);
  background-position: center;
  background-size: cover;
  padding: 30px;
  .section-2-content {
    header {
      h1 {
        font-weight: 500;
        font-size: 50px;
        letter-spacing: 5px;
        color: #000000;
        margin-bottom: 15px;
        text-transform: uppercase;
      }
      p {
        letter-spacing: 5px;
        margin-bottom: 10px;
        font-size: 20px;
        margin-bottom: 40px;
        text-transform: uppercase;
        &:before {
          width: 60px;
          border-bottom: 2px solid #a8804b;
          content: "";
          position: absolute;
          padding-top: 50px;
          @media only screen and (max-width: 371.888px) {
            padding-top: 65px;
          }
        }
      }
    }
    p:nth-child(1) {
      color: #a8804b;
      line-height: 22px;
      margin-bottom: 40px;
    }
  }
  .btn-2 {
    letter-spacing: 5px;
    color: black;
    font-size: 1em;
    text-decoration: none;
    background: transparent;
    padding: 15px 8px;
    border: 2px solid black;

    &:hover {
      color: #a8804b;
      border: 2px solid #a8804b;
    }
  }
}

/*   SESSÃO 3 - CARNE   */

.section-3 {
  overflow: hidden;
  background: black;
  figure {
    position: relative;
    right: 100px;
    img {
      width: 500px;
      filter: brightness(0.5);
    }
  }
  .section-3-content {
    color: #fff;
    margin-top: 250px;
    z-index: 999;
    header {
      h1 {
        font-size: 2.7em;
        font-weight: 500;
        letter-spacing: 5px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
      p {
        font-size: 1.2em;
        font-weight: 300;
        letter-spacing: 5px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
    }
    p:nth-child(1) {
      font-size: 1.1em;
      line-height: 20px;
    }
  }
}

/*  SESSÃO 4 - CERVEJAS   */

.section-4 {
  width: 100%;
  overflow: hidden;
  figure {
    position: relative;
    right: 71px;
    img {
      width: 550px;
      padding-top: 15px;
    }
  }
  .section-4-content {
    text-align: left;
    padding: 20px;
    margin-top: 50px;
    z-index: 8;
    header {
      h1 {
        font-size: 2.5em;
        font-weight: 500;
        letter-spacing: 6px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
      p {
        font-size: 1.5em;
        letter-spacing: 2px;
        font-weight: 300;
        margin-bottom: 35px;
        text-transform: uppercase;
      }
    }
    p:nth-child(1) {
      color: #a8804b;
      line-height: 21px;
      margin-bottom: 35px;
    }
  }
}

.btn-4 {
  letter-spacing: 5px;
  color: black;
  font-size: 1em;
  text-decoration: none;
  background: transparent;
  padding: 10px 8px;
  border: 2px solid black;

  &:hover {
    color: #a8804b;
    border: 2px solid #a8804b;
  }
}

/*   SESSÃO 5 - SVG FINAL   */

.section-5 {
  width: 100%;
  min-height: 70vh;
  background-image: url("images/imagem-final-svg.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  header {
    h1 {
      font-size: 2.5em;
      font-weight: 500;
      letter-spacing: 5px;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      padding-top: 30px;
      margin-bottom: 75px;
    }
  }

  .section-5-content {
    article {
      text-align: center;
      img {
        width: 80px;
      }
      h2 {
        color: #fff;
        font-size: 20px;
        letter-spacing: 2px;
        margin: 15 15px;
        text-transform: uppercase;
      }

      p {
        color: #a8804b;
        line-height: 20px;
      }
    }
  }
}

/*  SESSÃO FOOTER - FOLLOW  */

.section-6 {
  width: 100%;
  text-align: center;
  padding: 40px 20px;

  header {
    h1 {
      font-size: 3em;
      font-weight: 500;
      margin: 15px auto 15px;
      letter-spacing: 5px;
      text-transform: uppercase;
    }
    p {
      text-transform: uppercase;
      font-size: 1.3em;
      font-weight: 400;
      letter-spacing: 3px;
    }
  }

  p:nth-child(2) {
    color: #a8804b;
    font-size: 1.1em;
    font-weight: 500;
  }
}

/*  FOOTER - SESSÃO FINAL  */

.footer-section-7 {
  width: 100%;
  background: #0f0f0f;
  figure{
    img{
      width: 100px;
      margin-top: -20px;
    }
  }
  .footer-section-7-content{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
  }
  .footer-ul-1 {
    ul li a {
      color: #fff;
      font-size: 12px;
      letter-spacing: 3px;
      text-transform: uppercase;
      @media only screen and (max-width: 767px) {
        font-size: 11px;
      }
    }
  
    li {
      margin-bottom: 10px;
      list-style: none;
    }
  
    img {
      width: 20px;
      margin-bottom: -5px;
      margin-right: 5px;
    }
  
    a:hover {
      color: #a8804b;
    }
  }
  .footer-ul-2 {
    ul li a {
      color: #fff;
      text-decoration: none;
      font-size: 12px;
      letter-spacing: 3px;
      text-transform: uppercase;
      @media only screen and (max-width: 767px) {
        font-size: 11px;
      }
    }
  
    li {
      margin-bottom: 10px;
      list-style: none;
    }
  
    a:hover {
      color: #a8804b;
    }
  }
  
  .footer-svg {
    img {
      width: 20px;
      @media only screen and (max-width: 767px) {
        width: 16px;
      }
    }
  
    ul li {
      list-style: none;
      display: inline-block;
      position: relative;
      padding: 8px 15px;
    }
  }
  
  .footer-about {
    ul li {
      text-align: center;
      list-style: none;
      margin-top: 10px;
      letter-spacing: 1px;
    }
  
    a {
      color: #fff;
      font-size: 0.7em;
      font-weight: 100;
    }
  }
}




