// importandos sass owl-carousel
@import "core";
@import "animate";
@import "autoheight";
@import "lazyload";
@import "video";
@import "theme.default";
@import "theme.green";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1em;
  font-family: "Ubuntu", sans-serif;
  figure {
    margin: 0;
  }
}

a {
  text-decoration: none !important;
}

.ds_none {
  display: none !important;
}

.main_header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("images/imagem-menu-opacity.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.nav-img {
  img {
    width: 120px;
    padding: 15px;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1220px;
  @media only screen and (max-width: 992px) {    
    width: 100%;
    background: orangered;
    position: fixed;
    box-shadow: 0 6px 15px black;
    z-index: 9999999;
  }
}

.nav-links {
  text-align: right;

  ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 2px 18px;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 16px;
    }

    &:after {
      content: "";
      width: 0%;
      height: 2px;
      display: block;
      background: #ff0000;
      margin: auto;
      transition: 0.5s;
    }

    &:hover:after {
      width: 100%;
    }
  }
  @media only screen and (max-width: 992px) {
      display: none !important;
  }
}

.main-mobile{
display: none;
@media only screen and (max-width: 992px) {
display: flex!important;
}
  #menuMobile {
    width: 300px;
    height: 100vh;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 2;
    position: absolute;
    transition: 0.5s;
  }
  .menu-mobile-content {
    li {
      margin: 45px 30px;
      list-style: none;
  
      a {
        color: #000000;
      }
    }
  
    a {
      &:after {
        content: "";
        width: 0%;
        height: 2px;
        display: block;
        background: #ff0000;
        margin-top: 2px;
        transition: 0.5s;
      }
  
      &:hover:after {
        width: 35%;
      }
    }
  
    li a:hover {
      color: #a8804b;
    }
  }
  
  #menuBtn {
    width: 30px;
    position: fixed;
    right: 30px;
    top: 20px;
    z-index: 2;
    cursor: pointer;
  }
}



/*  HOME  */

.main_cta {
  width: 100%;
  position: relative;
  top: 120px;
@media only screen and (max-width: 992px) {
  top: 220px;
}
  .main_cta_content {
    letter-spacing: 5px;
    img {
      width: 21px;
      margin: 0 2px 2px 0;
    }
    h1 {
      font-size: 3.5em;
      color: #fff;
    }

    h2 {
      font-size: 3.5em;
      color: #ff6600;
      margin-bottom: 13px;
    }
    @media only screen and (max-width: 480px) {
      h1 {
        font-size: 2.5em;
      }
      h2 {
        font-size: 2.5em;
      }
    }
  }
  .btn {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    background: transparent;
    padding: 8px 8px;
    border: 2px solid #fff;

    &:hover {
      color: #a8804b;
      border: 2px solid #a8804b;
    }
    @media only screen and (max-width: 480px) {
      font-size: 0.7em;
    }
  }
}

/* PRIMEIRA SESSÃO - SORVETES  */

.section-1-ice {
  width: 100%;

  article {
    position: relative;
    z-index: 9999;
    header {
      p {
        color: black;
        margin-bottom: 15px;
        letter-spacing: 10px;
        font-size: 1.1em;
      }
    }
    p {
      color: #a8804b;
      line-height: 30px;
    }
  }
  figure {
    margin-top: -100px;
    img {
      width: 100%;
      margin-bottom: 20px;
    }
    @media only screen and (max-width: 992px) {
      margin-top: -75px;
    }
    @media only screen and (max-width: 767px) {
      margin-top: -50px;
    }
  }

  .text-section-1 {
    text-align: center;
    padding: 25px;
    padding-bottom: 8px;

    h1 {
      margin-bottom: 15px;
      font-size: 2.2em;
      color: black;
      letter-spacing: 10px;
    }
  }
}

/* SEGUNDA SESSÃO - MASSA  */

.section-2 {
  width: 100%;
  background-image: linear-gradient(
      rgb(207 207 207 / 40%),
      rgb(191 191 191 / 40%)
    ),
    url(images/massa);
  background-position: center;
  background-size: cover;
  padding: 30px;
  .section-2-content {
    header {
      h1 {
        font-weight: 500;
        font-size: 50px;
        letter-spacing: 5px;
        color: #000000;
        margin-bottom: 15px;
      }
      p {
        letter-spacing: 5px;
        margin-bottom: 10px;
        font-size: 20px;
        margin-bottom: 40px;
        &:before {
          width: 60px;
          border-bottom: 2px solid #a8804b;
          content: "";
          position: absolute;
          padding-top: 50px;
          @media only screen and (max-width: 371.888px) {
            padding-top: 65px;
          }
        }
      }
    }
    p:nth-child(1) {
      color: #a8804b;
      line-height: 22px;
      margin-bottom: 40px;
    }
  }
  .btn-2 {
    letter-spacing: 5px;
    color: black;
    font-size: 1em;
    text-decoration: none;
    background: transparent;
    padding: 15px 8px;
    border: 2px solid black;

    &:hover {
      color: #a8804b;
      border: 2px solid #a8804b;
    }
  }
}

/*   SESSÃO 3 - CARNE   */

.section-3 {
  overflow: hidden;
  background: black;
  figure {
    position: relative;
    right: 100px;
    img {
      width: 500px;
      filter: brightness(0.5);
    }
  }
  .section-3-content {
    color: #fff;
    margin-top: 250px;
    z-index: 999;
    header {
      h1 {
        font-size: 2.7em;
        font-weight: 500;
        letter-spacing: 5px;
        margin-bottom: 20px;
      }
      p {
        font-size: 1.2em;
        font-weight: 300;
        letter-spacing: 5px;
        margin-bottom: 20px;
      }
    }
    p:nth-child(1) {
      font-size: 1.1em;
      line-height: 20px;
    }
  }
}

/*  SESSÃO 4 - CERVEJAS   */

.section-4 {
  width: 100%;
  overflow: hidden;
  figure {
    position: relative;
    right: 71px;
    img {
      width: 550px;
      padding-top: 15px;
    }
  }
  .section-4-content {
    text-align: left;
    padding: 20px;
    margin-top: 50px;
    z-index: 8;
    header {
      h1 {
        font-size: 2.5em;
        font-weight: 500;
        letter-spacing: 6px;
        margin-bottom: 20px;
      }
      p {
        font-size: 1.5em;
        letter-spacing: 2px;
        font-weight: 300;
        margin-bottom: 35px;
      }
    }
    p:nth-child(1) {
      color: #a8804b;
      line-height: 21px;
      margin-bottom: 35px;
    }
  }
}

.btn-4 {
  letter-spacing: 5px;
  color: black;
  font-size: 1em;
  text-decoration: none;
  background: transparent;
  padding: 10px 8px;
  border: 2px solid black;

  &:hover {
    color: #a8804b;
    border: 2px solid #a8804b;
  }
}

/*   SESSÃO 5 - SVG FINAL   */

.section-5 {
  width: 100%;
  min-height: 80vh;
  background-image: url("images/imagem-final-svg.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  header {
    h1 {
      font-size: 2.7em;
      font-weight: 500;
      letter-spacing: 5px;
      text-align: center;
      color: #fff;
      padding-top: 30px;
      margin-bottom: 100px;
    }
  }

  .section-5-content {
    article {
      text-align: center;
      img {
        width: 80px;
      }
      h2 {
        color: #fff;
        letter-spacing: 2px;
        margin-bottom: 15px;
      }

      p {
        color: #a8804b;
        line-height: 20px;
      }
    }
  }
}

/*  SESSÃO FOOTER - FOLLOW  */

.section-6 {
  width: 100%;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 20px;

  h1 {
    font-size: 3em;
    font-weight: 500;
    margin: 15px auto 15px;
    letter-spacing: 5px;
  }

  > {
    header p {
      font-size: 1.3em;
      font-weight: 400;
      letter-spacing: 3px;
    }

    p {
      color: #a8804b;
      font-size: 1.1em;
      font-weight: 500;
    }
  }
}

/*  FOOTER - SESSÃO FINAL  */

.footer-section-7 {
  width: 100%;
  padding: 20px;
  background: #0f0f0f;
}

.section-7-logo img {
  width: 130px;
  margin-top: -20px;
}

.footer-section-7 .footer-section-7-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;
}

.footer-ul-1 {
  ul li a {
    color: #fff;
    font-size: 12px;
    letter-spacing: 3px;
  }

  li {
    margin-bottom: 10px;
    list-style: none;
  }

  img {
    width: 20px;
    margin-bottom: -5px;
    margin-right: 5px;
  }

  a:hover {
    color: #a8804b;
  }
}

.footer-ul-2 {
  ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 3px;
  }

  li {
    margin-bottom: 10px;
    list-style: none;
  }

  a:hover {
    color: #a8804b;
  }
}

.footer-svg {
  img {
    width: 21px;
  }

  ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 15px;
  }
}

.footer-about {
  ul li {
    text-align: center;
    list-style: none;
    margin-top: 10px;
    letter-spacing: 1px;
  }

  a {
    color: #fff;
    font-size: 0.7em;
    font-weight: 100;
  }
}

/* 1200px */
@media (max-width: 75em) {
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 25px;
  }
}

/* 1120px */
@media (max-width: 70em) {
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 30px;
  }
}

/* 950px */
@media (max-width: 59em) {
  .section-6 {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 25px;
  }
}

/* 768px */
@media (max-width: 48em) {
  .space-carrinho img {
    margin-left: 80px;
  }
}

/* 720pix */
@media (max-width: 45em) {
  .space-carrinho img {
    margin-left: 65px;
  }

  .footer-ul-1 ul li a {
    color: #fff;
    font-size: 12px;
    letter-spacing: 3px;
    margin-right: 25px;
  }

  .footer-svg {
    ul li {
      list-style: none;
      display: inline-block;
      position: relative;
      padding: 10px 10px;
    }

    img {
      width: 16px;
    }
  }
}

/* 658pix */
@media (max-width: 41em) {
  .section-6-text {
    margin-top: -30px;
  }
}

/* 500px  */
@media (max-width: 500px) {
  .section-6 {
    h1 {
      font-size: 2.2em;
    }

    > {
      header p {
        font-size: 1.1em;
      }

      p {
        font-size: 0.8em;
      }
    }
  }

  .section-6-text {
    margin-top: -50px;
  }

  .footer-section-7 {
    width: 100%;
    padding: 20px;

    .footer-section-7-content {
      display: block;
      padding-top: 15px;
    }
  }

  .footer-ul-1 {
    margin: 15px 0px 15px;
  }

  .footer-ul-2 {
    margin-bottom: 15px;
  }
}
